<div id="container">
	<h1>Resto trop bon!</h1>
	<p>Et c'est gratuit !</p>
	<br>


	<div class="tab">
		<button class="tablinks" onclick="openTab(event, 'Presentation')">Presentation</button>
		<button class="tablinks" onclick="openTab(event, 'Menu')">Menu</button>
		<button class="tablinks" onclick="openTab(event, 'Contact')">Contact</button>
		<br><br><br><br><br>
	</div>


	<div id="Presentation" class="tabcontent">
		<h3>Presentation</h3>
		<div id="carousel">
			<ul>
				<li><img src="http://www.restaurant-badine.com/wp-content/uploads/2015/04/restaurant-gastronomique-grenoble-badine-plat-1.jpg"  alt="plat1", width="400px", height="155px"/></li>
				<li><img src="http://www.le-morvan.fr/maj/images_resized/459-so-2012restaurant-phototable01-fr2.jpg"  alt="plat2", width="400px", height="155px"/></li>
				<li><img src="https://www.odelices.com/images/recettes/tossolia_soupe_melon_toping_galette_indienne-776x1024.jpg"  alt="plat3", width="400px", height="155px"/></li>
				<li><img src="https://thumbs.dreamstime.com/b/deer-back-gourmet-food-vegetables-white-plate-34425841.jpg"  alt="plat4", width="400px", height="155px"/></li>
				<li><img src="https://img.grouponcdn.com/deal/eAdLDKQ3eJfzbYZD1aEB/7o-700x420/v1/c700x420.jpg"  alt="plat5", width="400px", height="155px"/></li>
			</ul>
		</div>
	</div>

	<div id="Menu" class="tabcontent">
		<h3>Menu</h3>
		<p>Joli menu</p> 
	</div>

	<div id="Contact" class="tabcontent">
		<h3>Contact</h3>
		<p>Moi</p>
	</div>

</div>
